<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jmu.mapper.ProtectRoadMapper" >
  <resultMap id="PRResultMap" type="org.jmu.entity.ProtectRoad" >
    <id column="pr_id" property="prId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="road_id" property="roadId" jdbcType="INTEGER" />
    <result column="pr_time" property="prTime" jdbcType="TIMESTAMP" />
    <result column="pr_info" property="prInfo" jdbcType="VARCHAR" />
    <result column="pr_pic" property="prPic" jdbcType="VARCHAR" />
    <result column="pr_over_tag" property="prOverTag" jdbcType="INTEGER" />
    <association property="user" resultMap="UserResultMap"></association>
    <association property="road" resultMap="RoadResultMap"></association>
  </resultMap>
  <resultMap id="UserResultMap" type="org.jmu.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="RoadResultMap" type="org.jmu.entity.Road" >
    <id column="road_id" property="roadId" jdbcType="INTEGER" />
    <result column="road_name" property="roadName" jdbcType="VARCHAR" />
    <result column="road_area" property="roadArea" jdbcType="VARCHAR" />
    <result column="road_info" property="roadInfo" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="PR_Column_List" >
    pr_id, user_id, road_id, pr_time, pr_info, pr_pic, pr_over_tag
  </sql>
<!--    插入图片-->
    <insert id="addImgToDb" >
        insert into protectroad(road_id,pr_pic,user_id,pr_info) values(#{roadId},#{picUrl},#{userId},#{prInfo})
    </insert>
    <insert id="addInfo" >
        insert into protectroad(user_id,pr_info) values (#{userId},#{prInfo})
    </insert>
<!--    修改tag-->
    <update id="updateTag" parameterType="java.lang.Integer">
      UPDATE protectroad set pr_over_tag = 1 where pr_id = #{prId,jdbcType=INTEGER}
    </update>
<!--  查询未维修的道路信息-->
    <select id="selectByTag" resultMap="PRResultMap">
      SELECT pr.pr_info,pr.pr_pic,pr.pr_time,u.user_name,r.road_area,r.road_name,r.road_info FROM protectroad pr,`user` u ,road r WHERE pr_over_tag = 0 and u.user_id = pr.user_id and r.road_id = pr.road_id
    </select>













  <select id="selectByPrimaryKey" resultMap="PRResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="PR_Column_List" />
    from protectroad
    where pr_id = #{prId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from protectroad
    where pr_id = #{prId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jmu.entity.ProtectRoad" >
    insert into protectroad (pr_id, user_id, road_id, 
      pr_time, pr_info, pr_pic, 
      pr_over_tag)
    values (#{prId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roadId,jdbcType=INTEGER}, 
      #{prTime,jdbcType=TIMESTAMP}, #{prInfo,jdbcType=VARCHAR}, #{prPic,jdbcType=VARCHAR}, 
      #{prOverTag,jdbcType=INTEGER})
  </insert>
<!--    插入信息 -->
  <insert id="insertSelective" parameterType="org.jmu.entity.ProtectRoad" >
    insert into protectroad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        pr_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roadId != null" >
        road_id,
      </if>
      <if test="prTime != null" >
        pr_time,
      </if>
      <if test="prInfo != null" >
        pr_info,
      </if>
      <if test="prPic != null" >
        pr_pic,
      </if>
      <if test="prOverTag != null" >
        pr_over_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        #{prId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roadId != null" >
        #{roadId,jdbcType=INTEGER},
      </if>
      <if test="prTime != null" >
        #{prTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prInfo != null" >
        #{prInfo,jdbcType=VARCHAR},
      </if>
      <if test="prPic != null" >
        #{prPic,jdbcType=VARCHAR},
      </if>
      <if test="prOverTag != null" >
        #{prOverTag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jmu.entity.ProtectRoad" >
    update protectroad
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roadId != null" >
        road_id = #{roadId,jdbcType=INTEGER},
      </if>
      <if test="prTime != null" >
        pr_time = #{prTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prInfo != null" >
        pr_info = #{prInfo,jdbcType=VARCHAR},
      </if>
      <if test="prPic != null" >
        pr_pic = #{prPic,jdbcType=VARCHAR},
      </if>
      <if test="prOverTag != null" >
        pr_over_tag = #{prOverTag,jdbcType=INTEGER},
      </if>
    </set>
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jmu.entity.ProtectRoad" >
    update protectroad
    set user_id = #{userId,jdbcType=INTEGER},
      road_id = #{roadId,jdbcType=INTEGER},
      pr_time = #{prTime,jdbcType=TIMESTAMP},
      pr_info = #{prInfo,jdbcType=VARCHAR},
      pr_pic = #{prPic,jdbcType=VARCHAR},
      pr_over_tag = #{prOverTag,jdbcType=INTEGER}
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
</mapper>