<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jmu.mapper.RoadMapper" >
  <resultMap id="RoadResultMap" type="org.jmu.entity.Road" >
    <id column="road_id" property="roadId" jdbcType="INTEGER" />
    <result column="road_name" property="roadName" jdbcType="VARCHAR" />
    <result column="road_area" property="roadArea" jdbcType="VARCHAR" />
    <result column="road_info" property="roadInfo" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insertInfo" parameterType="org.jmu.entity.Road" useGeneratedKeys="true" keyProperty="userId">
    INSERT INTO road(road.road_area,road.road_name,road.road_info) VALUES(#{roadArea},#{roadName},#{roadInfo})
  </insert>











  <sql id="Road_Column_List" >
    road_id, road_name, road_area, road_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="RoadResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Road_Column_List" />
    from road
    where road_id = #{roadId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from road
    where road_id = #{roadId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jmu.entity.Road" >
    insert into road (road_id, road_name, road_area, 
      road_info)
    values (#{roadId,jdbcType=INTEGER}, #{roadName,jdbcType=VARCHAR}, #{roadArea,jdbcType=VARCHAR}, 
      #{roadInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.jmu.entity.Road" >
    insert into road
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roadId != null" >
        road_id,
      </if>
      <if test="roadName != null" >
        road_name,
      </if>
      <if test="roadArea != null" >
        road_area,
      </if>
      <if test="roadInfo != null" >
        road_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roadId != null" >
        #{roadId,jdbcType=INTEGER},
      </if>
      <if test="roadName != null" >
        #{roadName,jdbcType=VARCHAR},
      </if>
      <if test="roadArea != null" >
        #{roadArea,jdbcType=VARCHAR},
      </if>
      <if test="roadInfo != null" >
        #{roadInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jmu.entity.Road" >
    update road
    <set >
      <if test="roadName != null" >
        road_name = #{roadName,jdbcType=VARCHAR},
      </if>
      <if test="roadArea != null" >
        road_area = #{roadArea,jdbcType=VARCHAR},
      </if>
      <if test="roadInfo != null" >
        road_info = #{roadInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where road_id = #{roadId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jmu.entity.Road" >
    update road
    set road_name = #{roadName,jdbcType=VARCHAR},
      road_area = #{roadArea,jdbcType=VARCHAR},
      road_info = #{roadInfo,jdbcType=VARCHAR}
    where road_id = #{roadId,jdbcType=INTEGER}
  </update>
</mapper>