<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jmu.mapper.RoadMapper" >
  <resultMap id="BaseResultMap" type="org.jmu.entity.Road" >
    <id column="road_id" property="roadId" jdbcType="INTEGER" />
    <result column="road_name" property="roadName" jdbcType="VARCHAR" />
    <result column="rl_id" property="rlId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    road_id, road_name, rl_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from road
    where road_id = #{roadId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from road
    where road_id = #{roadId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jmu.entity.Road" >
    insert into road (road_id, road_name, rl_id, 
      user_id)
    values (#{roadId,jdbcType=INTEGER}, #{roadName,jdbcType=VARCHAR}, #{rlId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.jmu.entity.Road" >
    insert into road
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roadId != null" >
        road_id,
      </if>
      <if test="roadName != null" >
        road_name,
      </if>
      <if test="rlId != null" >
        rl_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roadId != null" >
        #{roadId,jdbcType=INTEGER},
      </if>
      <if test="roadName != null" >
        #{roadName,jdbcType=VARCHAR},
      </if>
      <if test="rlId != null" >
        #{rlId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jmu.entity.Road" >
    update road
    <set >
      <if test="roadName != null" >
        road_name = #{roadName,jdbcType=VARCHAR},
      </if>
      <if test="rlId != null" >
        rl_id = #{rlId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where road_id = #{roadId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jmu.entity.Road" >
    update road
    set road_name = #{roadName,jdbcType=VARCHAR},
      rl_id = #{rlId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where road_id = #{roadId,jdbcType=INTEGER}
  </update>
</mapper>